@import "tailwindcss";

@theme{
 --color-blueStart: #253A6E;
 --color-blueEnd: #059BD6;
 --color-plainGrey: #edeff1;
 --color-primaryblue: #0273ba;
 --color-textblue: #0086D2;
 --color-HoverBlue: #253A6E;
}
